<div class="accordion" id="filtros_pesquisa">
  <div class="accordion-group">
    <div class="accordion-heading" data-toggle="collapse" data-parent="#filtros_pesquisa" href="#filtros_master">
      <span>PESQUISA</span>
    </div>
    <%= render 'modulo_entidade/administracao/relatorios/distribuidores/vendas_distribuidores_filtros' %>
  </div>
</div>

<div id="result_table">
  <table class="  table table-striped table-bordered table-condensed table-hover">
    <thead id="cabecalho_relatorio">
      <tr>
        <th>Distribuidor</th>
        <th>Valor vendido (R$)</th>
      </tr>
    </thead>
    <tbody id="resultado_relatorio"></tbody>
  </table>
</div>

<script type="text/javascript">
  jQuery(function($) {
    corrige_tamanho_div_conteudo_da_pagina(); //DIMINUI A DIV DO CONTEÚDO
    corrige_tamanho_div_titulo(); //DIMINUI A DIV DO TÍTULO
  })
</script>
