/*
 *= require_self
 *= require bootstrap-select
 *= require bootstrap-datepicker
 *= require_tree .
 */

div#loading {
  top: 30%;
}

div.small {
  width: 95px;
}

div.medium {
  width: 225px;
}

.small-select {
  height: 25px !important;
  line-height: 10px;
  width: 80px !important;
  font-size: 10px !important;
}

.medium-select {
  height: 25px !important;
  width: 150px !important;
  font-size: 10px !important;
}

.medium-select-multilpe {
  height: 70px !important;
  width: 450px !important;
  font-size: 10px !important; 
}

.small-input {
  width: 25px;
  height: 15px !important;
  font-size: 10px !important;
}

.auto-datepicker {
  width: 55px;
  height: 15px !important;
  font-size: 10px !important;
}

.acessar_dados {
  cursor: pointer;
}

.numeros {
  text-align: right !important;
}

.totais {
  font-weight: bold;
}

div#filtros_master {
  position: relative;
  top: 0px;
  background-color: #FFFFE0;
  height: 130px;
}

.collapse.in {
  height: 130px !important;
}

#filtros_pesquisa {
  margin-bottom: 10px;
}

.accordion-heading {
  background-color: #000000;
  cursor: pointer;
  height: 25px;
}

.accordion-heading span {
  color: #FFFFFF;
  height: 20px;
  font-weight: bold;
  margin: 3px;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.accordion-heading:hover {
  background-color: #4F4F4F;
}

div.sub {
  margin: 10px;
}

#dias_dos_meses {
  font-size: 11px;
  width: 470px;
  height: 50px;
  cursor: pointer;
  moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-collapse: separate;
  border-color: #DDDDDD #DDDDDD #DDDDDD -moz-use-text-color;
  border-image: none;
  border-radius: 4px 4px 4px 4px;
  border-style: solid solid solid none;
  border-width: 1px 1px 1px 0;
  border-top-left-radius: 4px;
  border-left: 1px solid #DDDDDD;
  float: left;
  margin-left: 10px;
}

.selectable .ui-selecting {
  background-color: #FFFF00;
}

.selectable .ui-selected {
  background-color: #FFFF00;
}

.selectable {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.selectable li {
  width: 15px;
  margin: 2px;
  padding: 1px;
  line-height: 12px;
  float: left;
  text-align: center;
}

#meses_e_anos {
  font-size: 11px;
  width: 400px;
  height: 50px;
  overflow-x: auto;
  cursor: pointer;
  moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-collapse: separate;
  border-color: #DDDDDD #DDDDDD #DDDDDD -moz-use-text-color;
  border-image: none;
  border-radius: 4px 4px 4px 4px;
  border-style: solid solid solid none;
  border-width: 1px 1px 1px 0;
  border-top-left-radius: 4px;
  border-left: 1px solid #DDDDDD;
  float: left;
}

.selectable-one .ui-selecting {
  background-color: #FFFF00;
}

.selectable-one .ui-selected {
  background-color: #FFFF00;
}

.selectable-one {
  list-style-type: none;
  margin: 5px;
}

.selectable-one li {
  padding: 2px;
  float: left;
  text-align: center;
  line-height: 12px;
}

#box_filtros {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 150px;
  height: 300px;
  overflow-y: auto;
  background-color: #FFFFE0;
  font-size: 12px;
  moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-collapse: separate;
  border-color: #DDDDDD #DDDDDD #DDDDDD -moz-use-text-color;
  border-image: none;
  border-radius: 4px 4px 4px 4px;
  border-style: solid solid solid none;
  border-width: 1px 1px 1px 0;
  border-top-left-radius: 4px;
  border-left: 1px solid #DDDDDD;
}

#titulo_filtros {
  font-weight: bold;
  font-size: 13px;
  color: #FFFFFF;
  background-color: #000000;
  margin-left: 0 !important;
  text-align: center;
  cursor: pointer;
}

div#titulo_filtros:hover {
  background-color: #4F4F4F;
}

#box_filtros div {
  margin-left: 2px;
}

#box_filtros li {
  list-style: none;
  display: inline-block;
}

ol.titulo {
  font-weight: bold;
  margin: 0;
}

#result_table {
  font-size: 12px;
}

#cabecalho_relatorio th {
  padding: 0 5px !important;
}

#resultado_relatorio td {
  padding: 0 5px !important;
}

#modal_detalhes {
  width: 1100px;
  left: 30%;
}

#cabecalho_modal td, th,
#modal_resultados td, th {
  font-size: 12px;
  padding: 0 5px !important;
}

.table tbody td.critico {
  background-color: #FF7256 !important;
  font-weight: bold;
  color: #000000;
}

td.right {
  text-align: right !important;
}

td.left {
  text-align: left !important;
}

td.center {
  text-align: center !important;
}

div.graficos {
  float: left;
  padding-bottom: 50px;
}
